* {
	position: relative;
}

body {
	display: flex;
	justify-content: left;
	align-items: center;
}

canvas {
	object-fit: contain;
	width: 100% !important;
	height: 100% !important;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.supportInfo {
	margin-left: 20px;
}

#controls {
	display: inline-block;
    padding: 20px;
	vertical-align: top;
}

#wavy-sketch {
	width: 50%;
	height: 50%;
  }